<template name="shareOverlay">
  {{#if currentUser}}
    <div class="overlay share">

      {{#unless attachedImage}}
        <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>
        <div class="wrapper-heading">
          <div class="title-overlay">Create a new search</div>
          <div class="subtitle-overlay">Post and search the community.</div>
        </div>

        <div class="wrapper-camera">
          <a class="js-attach-image btn-camera"><span class="icon-camera"></span></a>
          <div class="subtext-camera">Add a photo</div>
        </div>
      {{else}}
        <a href="#" class="js-unattach-image overlay-back"><span class="icon-arrow-left-alt"></span></a>
        <div class="title-page">Create</div>
        <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

        <div class="bg-image" style="background-image: url('{{attachedImage}}')"></div>

        <form class="form-share">
          <div class="form-group" style="margin-bottom:0px">
            <div class="avatar">
              <img src="{{avatar}}" class="image-avatar">
            </div>
            <input type="text" name="recipeName" style="height: auto;"
              class="message-share"
              placeholder="Add your item name here..."/>
          </div>
          <div class="form-group">
            <textarea name="text" type="text"
              autocapitalize="off" autocorrect="off"
              required maxlength="140"
              class="message-share"
              placeholder="Add additional request, comments, or thoughts to share with the community..."></textarea>
          </div>

          <!-- div class="wrapper-checkbox">
            <label for="tweeting" class="checkbox">
              <input type="checkbox" name="tweeting" id="tweeting" checked>
              <span>Post to Twitter</span>
            </label>
          </div -->

          <button class="btn-primary" type='submit'>Create search</button>
        </form>
      {{/unless}}

    </div>
  {{else}}
    {{> authOverlay}}
  {{/if}}
</template>